[Unit]
Description=xsp4 web server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/xsp4

[Install]
WantedBy=multi-user.target