[Unit]
Description=Server v4.6 for mod_mono
Wants=network.target
ConditionFileNotEmpty=/etc/mod-mono-server/mono.webapp
ConditionDirectoryNotEmpty=/etc/mod-mono-server/conf.d

[Service]
Type=simple
User=aspnet
Group=aspnet
ExecStart=/usr/bin/mod-mono-server4 --port 8383 --address 0.0.0.0 --appconfigdir /etc/mod-mono-server --nonstop
Restart=on-failure

[Install]
WantedBy=multi-user.target
